run
tmp/
*.o
bin
frproxy
client
t
*.swp
*.bak
*.log
*.out
thrift/server
thrift/client
.settings
.*project
core/.dept/
utils/.dept/
thrift/.dept/
thrift/server
thrift/client
thrift/sserver
thrift/sclient
Hello.cpp

